# OpenShift
THOTH_CEPH_BUCKET=
THOTH_CEPH_BUCKET_PREFIX=
THOTH_S3_ENDPOINT_URL=
THOTH_DEPLOYMENT_NAME=
KUBERNETES_VERIFY_TLS=
THOTH_AMUN_INSPECTION_NAMESPACE=
THOTH_AMUN_INFRA_NAMESPACE=
THOTH_FRONTEND_NAMESPACE=
THOTH_MIDDLETIER_NAMESPACE=
THOTH_BACKEND_NAMESPACE=
THOTH_INFRA_NAMESPACE=
KUBERNETES_API_URL=
OPENSHIFT_API_URL=

# Logging
RSYSLOG_HOST=
RSYSLOG_PORT=
SENTRY_DSN=
THOTH_DEPLOYMENT_NAME=
THOTH_SENTRY_IGNORE_LOGGER=
THOTH_SENTRY_IGNORE_EXCEPTION=
