[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rfc5424-logging-handler" = "*"
daiquiri = "*"
requests = "*"
sentry-sdk = "*"
openshift = "==0.8.0"
attrs = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"

[requires]
python_version = "3.6"
