[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rfc5424-logging-handler" = "*"
daiquiri = "*"
requests = "*"
sentry-sdk = "*"
openshift = "==0.8.0"
attrs = "*"
pyyaml = "*"
attrdict = "*"
flexmock = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
coala = "*"
coala-bears = "*"
pytest-mypy = "*"
typeshed = "*"
mypy = "*"

[requires]
python_version = "3.6"
