[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rfc5424-logging-handler" = "*"
argo-workflows = ">=2.0,<3.0"
daiquiri = "*"
requests = "*"
sentry-sdk = "*"
openshift = "~=0.10.0"
attrs = "*"
pyyaml = "*"
attrdict = "*"
flexmock = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
coala = "*"
coala-bears = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.6"
